@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
      box-sizing: border-box;
      padding: 8px;
}

/* ctrl / to make comments
when using css start from the top of the page and go down to the bottom in order */

/* you can give multiple class names to the same img to call it forward different ways */
/* text align:center */

/* if you give a div a id call it using # then the id name you gave */

body{
      margin: 0px;
      background-color:black;
      color: rgb(255, 255, 255);
      font-family: 'Roboto', sans-serif;
}

#nav{
      background-color: rgba(255, 0, 0, 0.152);
      font-size: 25px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}

#nav a{
      text-decoration: none;
      color: rgb(255, 255, 255);
}

#nav a:hover{
      color: rgb(255, 0, 0);
}

.flexbox-q1{
      display: flex;
      justify-content:space-between ;
}

.flexbox-q1-1{
      min-height: px;
}

.flexbox-q1-2{
      min-height:300px;
      size: 100%;
}

.floatleft{
      float: left;

}
.floatright{
      float:right;
}

.title{
      background-image: url(code.jpg);
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content:center ;
}

.left{
      text-align: left;
}

.center{
      text-align: center;
}

.right{
      text-align: right;
}

.clear{
      clear:both;
}
.top{
      text-align: center;
      color: aliceblue;
}
.top a{
      color: rgb(255, 0, 0);
      text-decoration: none;

}
p{
      font-size: 25px;
}

h3{
      color: rgb(255, 0, 0);
      font-size: 32px;
}
.imgsize{
      width: 20%;
      height: auto;
}

.pageone{
      background-image: url(page1bg.jpg);
      height:750px;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content:center ;      
}

.grid{
      display: grid;
      grid-template-columns: 50% 50% ;
      gap: 10px;
      text-align: center;
      display: flex;
      justify-content:space-evenly;
      align-items: center center;
}